.maquinadeescrever {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10em;
}

.maquinadeescrever > .palavras > p::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@media (max-width: 1280px) {
    .maquinadeescrever {
        font-size: 8em;
    }
}

@media (max-width: 1024px) {
    .maquinadeescrever {
        font-size: 6em;
    }
}

@media (max-width: 728px) {
    .maquinadeescrever {
        font-size: 5em;
    }
}

@media (max-width: 500px) {
    .maquinadeescrever {
        font-size: 4em;
    }
}

@media (max-width: 376px) {
    .maquinadeescrever {
        font-size: 3em;
    }
}