* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    appearance: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    /*Todos os comandos acima são para tirar os estilos padrões do navegador*/
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgba(72,79,232);
    background: linear-gradient(45deg, rgba(57,210,192,1) 5%, rgba(72,79,232,1) 70%);
    min-height: 100vh; /*Deixa o container do tamanho da tela na vertical*/
    max-width: 1000px; /*Deixa o container com um tamanho máximo se adequando a tamanhos menores*/
    margin: auto; /*Coloca o container alinhado no centro da tela na vertical*/
}

main {
    min-height: calc(100vh - 40px);
}