header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  height: 60px;
}

header h1 {
  color: white;
} 

@media (max-width: 728px) {
  h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 400px) {
  h1 {
    font-size: 2em;
  }
}
